body {
    text-align: center;
    background-color: rgb(196, 160, 117);
}

h1 {
    text-align: center;
    padding-top: 30px;
}

.board img {
  width: 150px;  
  height: 150px; 
  object-fit: cover; 
  margin: 90px; 

}